.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.question-odd{
    border-left: 6px solid lightseagreen;
    background-color: paleturquoise;
    color: navy
}

.question-even{
    border-left: 6px solid orange;
    background-color: gold;
    color: navy
}

ol {
  font-weight:bolder;
}
ol li span {
  font-weight: normal;
}

.col-sm-4{
    border: 6px solid orange;
}

#lists ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333333;
}

#lists li {
    float: left;
}

#lists li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#lists li a:hover {
    background-color: black;
}
